:root {
    --cor-p1:#ADDE87;
    --cor-p2:#5CA720;

    --cor-0:#ffffff;
    --cor-1: #f9f9f9;
    --cor-12:#161616;
}

.cor-p1 {
    color: var(--cor-p1);
}
.cor-p2 {
    color: var(--cor-p2);
}
.cor-0 {
    color: var(--cor-0);
}
.cor-1 {
    color: var(--cor-1);
}
.cor-12 {
    color: var(--cor-12);
}